@font-face{
    font-family: 'MyWebFont';
    src: url('Webfontkit/krinkesregularpersonal-webfont.eot');
    src: url('Webfontkit/krinkesregularpersonal-webfont.eot') format('embedded-opentype'),
    url('Webfontkit/krinkesregularpersonal-webfont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('Webfontkit/krinkesregularpersonal-webfont.svg') format('svg');
    }
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 40px;
  --bar-height: 2px;
  --hamburger-gap: 6px;
  --foreground: #000000;
  --background: white;
  --hamburger-margin: 17px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:checked {
  --foreground: #333;
  --background: #333;
}

.hamburger-menu input:focus-visible::before, 
.hamburger-menu input:focus-visible::after
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}


.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%; 
  left: -100%;
  padding: 0.5rem 1rem;
  padding-top:3rem;
  background-color: #7F1F22;
  color: var(--background);
  max-width: 10rem;
  min-height: 110vh;
  margin-top: -6em;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateX(calc(-100% - 5em));
  }

  ul {
    list-style-type: none;
}



body{background-color: #F4D5C7;
}


.logo {height:4em;
    width:auto;
   padding-top: 0.5em;
   padding-bottom:0.5em ;
 position: relative;
 display: block;
  margin-left: 30%;
  margin-right: auto;
}
    #hoofd {
       
        background-image: url("fotos/hoofd.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding-top: 15px;
       
    }

.kaart {
    width: auto;
    height: 7.5cm;
    border-style: none;
    padding-left: 0.5em;
}

.social-media img {
    width: 19em;
    height: auto;
    margin: auto;
    display:inline;
    background-color: #7F1F22;
  }

  .button {
    width: 10em;
    height: auto;
  margin: auto;

  }

  .buttons {
    width: 10em;
    margin-left: 22%;
    
  }

  
  .start {
       
    background-image: url("fotos/swirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 20px;
    height: 200px;
  width: 320px;
   
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    font-family: 'MyWebFont';
    font-size: 30px;
    margin-bottom: 0%;
    text-align: center;
    margin-top: 0%;
}

h2 {
    font-family: 'MyWebFont', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.hoofdpagina {
    text-align: center;
    margin-top: -5em;
}

.swirl1 {
    background-image: url(fotos/swirl1.png)
}

.stuk {margin-top: -15%;
text-align: center;
font-size: 30px;
}

.body {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #7F1F22;
    padding: 20px;
    text-align: center;
  }
  
  .social-media img {
    width: 45px;
    height: auto;
    margin: auto;
    display: inline;
  }
  
  .author {
    font-size: 14px;
    color: white;
    margin-top: 10px;
  }

.swirlie {
    width: auto;
    height: 130px;
    margin-left: 0px;
    margin-top: 0px;
}

.swirlz {
    width: 100%;
    height: auto;
}

.swoerl { width: 100%;
    height: auto;
}

.tiedye {
    width: 45%;
    margin-left: 10px;
}

.tiedyetext {
    margin-left: 50%;
    margin-top: -62%;
}

.schoenen {
    width: 45%;
    margin-left: 53%;
    margin-bottom: -7%;
}

.schoenentext {
    margin-top: -64%; 
    width: 46%; 
text-align: right;}

.verf {
    width: 45%;
    margin-left: 10px;
}

.textieltext {
    margin-left: 50%;
    margin-top: -70%;
}



.joost{
width: 40%;
margin-left: 10px;
}

.joosttext{
    margin-left: 27%;
    margin-top: -20em;
}


.denim {
    width: 40%;
    margin-left: 10px;
    margin-top: 30px;
    }

    .jeanstext{
        margin-left: 40%;
        margin-top: -163%;
    }

    .fotos img {
        width: 90px;
        height: auto;
        margin-left: 10px;
        margin-top: 60px;
        display: inline;
        
      }

      .accessoires {
        text-align: center;
        margin-top: 0;
      }

      .starten {
       
        background-image: url("fotos/lijn.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        padding-top: 20px;
        height: 100px;
      width: 320px;
      
       
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: rgb(0, 0, 0);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        border-width: 0px;
        }

    
    #sec-1 {
      background-color: rgb(214, 228, 92);
    }
    #sec-2 {
      background-color: aliceblue;
    }
    .scroll-down {
      height: 50px;
      width: 30px;
      position: absolute;
      left: 45%;
      bottom: 100px;
      border-radius: 50px;
      cursor: pointer;
      
    }
    .scroll-down::before,
    .scroll-down::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      height: 30px;
      width: 30px;
      transform: translate(-50%, -100%) rotate(45deg);
      border: 2px solid rgb(255, 255, 255);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
      
    }
    .scroll-down::before {
      top: 30%;
      animation-delay: 0.7s;
     
    }
    
    @keyframes scroll-down {
      0% {
       
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        top: 90%;
        opacity: 0;
      }
    }
    

    html {scroll-behavior: smooth;}

    .hebben {
        margin-top: -1em;
    }
   
    .hoofd2 {
        margin-bottom: 0em;
    }